spring:
  application:
    name: zero
  datasource:
    url: jdbc:postgresql://serviceServerBankBS:5432/storage
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
server:
  port: ${SPRING_PORT:8080}